<%= link_to prompt_path(prompt) do %>
  <div id='prompt' class="flex flex-col flex-1 p-4 font-sans shadow hover:shadow-lg bg-[#1A1A1A]">
    <form>
      <div class="flex justify-between items-center mb-2">
        <h1 class="eb-garamond text-lg font-semibold text-[#DEC195]">
          <%= prompt.title %>
        </h1>
        <div class="eb-garamond text-lg font-semibold text-[#DEC195]">
            <%= link_to edit_prompt_path(prompt), class: "hover:text-[#F4E4BC] transition-colors duration-200" do %>
              <i class="fa-solid fa-pencil"></i>
            <% end %>
        </div>
      </div>

<!--      <div class="w-full eb-garamond text-md text-[#DEC195] h-16 overflow-auto">-->
<!--        Characters: <%#= prompt.characters.blank? ? 'None Specified' : prompt.characters.pluck(:name).join(', ') %>-->
<!--      </div>-->

      <div class="flex flex-col mt-2 mb-3 pb-3 h-24 overflow-auto">
        <div class="flex flex-wrap text-xs">
          <%# Tailwind safelist: bg-[#632424] bg-[#243463] bg-[#1D3D22] bg-[#B58826] border-[#632424] border-[#243463] border-[#1D3D22] border-[#B58826] %>
          <% if prompt.characters.blank? %>
            <span class="eb-garamond text-md text-[#DEC195]">Characters: None Specified</span>
           <% else %>
            <% tag_colors = ['#632424', '#243463', '#1D3D22', '#B58826'] %>
            <% prompt.characters.each_with_index do |character, index| %>
              <div class="m-1 p-2 h-6 rounded-lg flex items-center justify-center bg-[#DEC195] eb-garamond-bold text-sm text-black">
                <%= character.name %>
              </div>
              <% end %>
          <% end %>
        </div>
      </div>

      <div class="flex flex-col mt-2 mb-3 pb-3 border-b border-[#DEC195] h-24 overflow-auto">
        <div class="flex flex-wrap text-xs">
          <%# Tailwind safelist: bg-[#632424] bg-[#243463] bg-[#1D3D22] bg-[#B58826] border-[#632424] border-[#243463] border-[#1D3D22] border-[#B58826] %>
          <% tag_colors = %w[#632424 #243463 #1D3D22 #B58826] %>
          <% prompt.tags.visible.each_with_index do |tag, index| %>
            <div class="m-1 p-2 h-6 rounded-lg flex items-center justify-center bg-[<%= tag_colors[index % 4] %>] eb-garamond-bold text-sm">
              <%= tag.name %>
            </div>
          <% end %>
        </div>
      </div>
      <p class="text-sm text-[#DEC195] mb-6 overflow-auto h-60">
        <%= prompt.description %>
      </p>
      <div class="flex space-x-4 text-sm font-medium">
        <div class="flex-auto flex space-x-4 justify-between">
          <button class="h-10 px-6 font-semibold rounded-md bg-black text-[#DEC195]" type="submit">
            Bookmark
          </button>
          <button class="h-10 px-6 font-semibold rounded-md border border-[#DEC195] text-[#DEC195]" type="button">
            Claim
          </button>
        </div>
      </div>
    </form>
  </div>
<% end %>
