<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="pb-6">
      <%= link_to "Edit this prompt", edit_prompt_path(@prompt), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Back to prompts", prompts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this prompt", @prompt, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    </div>

    <div class="flex flex-wrap items-baseline p-3">
      <h1 class="w-full flex-none text-2xl font-semibold">
        <%= @prompt.title %>
      </h1>
      <p class="text-gray-600 mt-2">
        Created by <%= @prompt.user.email %>
      </p>
    </div>
    <div class="flex items-baseline p-4">
      <p>
        <%= @prompt.description %>
      </p>
    </div>

    <div>
      <h2>Characters</h2>
      <% @prompt.characters.each do |character| %>
        <div class="inline-flex items-center px-2 py-1 rounded-full bg-blue-100 text-blue-800 mr-2 mb-2">
          <%= character.name %>
        </div>
      <% end %>
    </div>

    <div class="mt-4">
      <h2>Tags</h2>
      <% @prompt.tags.each do |tag| %>
        <div class="inline-flex items-center px-2 py-1 rounded-full bg-green-100 text-green-800 mr-2 mb-2">
          <%= tag.name %>
        </div>
      <% end %>
    </div>

    <div class="mt-4">
      <h2>Relationships</h2>
      <% @prompt.relationships.each do |relationship| %>
        <div class="inline-flex items-center px-2 py-1 rounded-full bg-purple-100 text-purple-800 mr-2 mb-2">
          <% separator = relationship.relationship_type == "romantic" ? " & " : " / " %>
          <%= relationship.characters.map(&:name).join(separator) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
